.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: whitesmoke;
}

.headerContainer {
  min-height: 78px;
  max-height: 78px;
}

.contents {
  min-height: 500px;
  height: 91.5%;
}
