@import 'assets/css/color.css';

.container {
  height: 100vh;
  line-height: 90vh;
  text-align: center;
  background-color: whit;
}

.title {
  font-family: titleFont;
  font-size: 2em;
  color: var(--error-title);
}
