@import '~antd/dist/antd.css';
@import 'assets/css/color.css';

body {
  font-family: 'defaultFont';
}

/* antd button click animation disabled */
[ant-click-animating-without-extra-node]:after {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

/* remote */
.remote-caret {
  position: absolute;
  border-left: black;
  border-left-style: solid;
  border-left-width: 2px;
  height: 1em;
}
.remote-caret > div {
  position: relative;
  top: -0.4em;
  font-size: 13px;
  background-color: rgb(250, 129, 0);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 3;
  border-radius: 20%;
}

/* react-reflex */

.reflex-container.vertical > .reflex-splitter {
  width: 10px !important;
}

.horizontal > .reflex-splitter {
  height: 10px !important;
}

/* editor height 100% */
.CodeMirror {
  height: 100% !important;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #b24592;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
